@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@500&display=swap');



.App {
  text-align: center;
  font-family: 'MuseoModerno';
}

.bg-video{
  position: fixed;
  width: 100%;
  left: 50%;
  top: 50%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.heading{
  color: aliceblue;
  font-size: 150px;
  margin-top: 25%;
}

.jumbo{
  margin-top: 25%;
  background-size: cover;
  width: 100%;
  position: relative;
  background-color: #ffefd5;
  padding-bottom: 15px;
  padding-top: 70px;
  border-top: black 2px;
}

.sec-head{
  font-size: 50px;
  padding-bottom: 10px;
}

.Designcard{
  width: 18rem;
  border: 20px black;
}

.Designcardbody {
  background-color: #ffdead;
}

.textContainer{
  margin: auto;
  width: 70%;
  font-size: 20px;
  /*
  padding-left: 50px;
  padding-right: 50px;*/
}

.headingContainer{
    color: white;
    height: 100%;
    width: 100%;
}

.headingFront{
  font-size: 120px;
}

.spacer{
  margin-left: 10%;
  margin-right: 10%;
}