@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@500&display=swap');


.App {
  text-align: center;
  font-family: 'MuseoModerno';
}

.a{
    float: right;
}

.bgImage{
    background-image: url(./components/files/bg1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
}

.bgImage2{
    background-image: url(./components/files/bg4.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
}

.heading{
  color: aliceblue;
  font-size: 150px;
  margin-top: 25%;
}

.navLink{
    color: white;
}

.jumbo{
    text-align: center;
    color: aliceblue;
    background-color: rgba(16, 16, 16, 0.8);
    width: 100%;
    position: relative;
    padding-bottom: 15px;
    border-top: black 2px;
    margin-top: 50px;
}

.jumbo2{
    text-align: center;
    color: aliceblue;
    background-color: rgba(176, 224, 230, 0.8);
    width: 100%;
    position: relative;
    padding-bottom: 15px;
    border-top: black 2px;
    margin-top: 50px;
}

.hazard{
    background-image: url("https://assets.codepen.io/3305358/hazard-stripes-wallpaper.jpg");
    background-size: cover;
    height: 50px;
    font-size: 200%;
    color: aliceblue;
    text-align: center;
    background-position: left;
}

.sec-head{
    -webkit-text-stroke: 1px white;
    margin-left: 10%!important;
    margin-right: 10%!important;
    color: black;
}

.sec-head-2{
    -webkit-text-stroke: 1px black;
    margin-left: 10%!important;
    margin-right: 10%!important;
    color: white;
}

.Designcard{
  width: 18rem;
  border: 20px black;
  color: black;
}

.Designcardbody {
  background-color: #ffdead;
}

.textContainer{
  margin: auto;
  width: 70%;
  font-size: 20px;
  color: black;
  /*
  padding-left: 50px;
  padding-right: 50px;*/
}

.textContainer2{
    margin: auto;
    width: 70%;
    font-size: 20px;
    color: white;
    /*
    padding-left: 50px;
    padding-right: 50px;*/
}

.headingContainer{
    color: white;
    height: 100%;
    width: 100%;
}

.headingFront{
  font-size: 120px;
}

.spacer{
  margin-left: 10%;
  margin-right: 10%;
}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
		-webkit-tap-highlight-color: transparent;
}

button, button:before {
	display: flex;
	align-items: center;
	justify-content: center;
}

button {
	width: 150px;
	height: 50px;
	font-family: 'Play', sans-serif;
	font-size: 20px;
	color: white;
	border: none;
	background-image: url("https://assets.codepen.io/3305358/hazard-stripes-wallpaper.jpg");
	background-size: 150%;
	background-position: left;
	transition: 1s;
}

button:before {
	width: 150px;
	height: 50px;
    content: "Explore...";
	background: rgba(0,0,0,0.6);
	position: absolute;
	transition: 500ms;
}

button:hover:before {
	background: rgba(0,0,0,0);
	text-shadow: 1px 1px 1px black;
}

button:hover {
	background-position: center;
	box-shadow: 0px 0px 10px rgba(232, 218, 26, 0.5);
}

button:focus {
	outline: none;
}

.middle {
    padding: 0;
    margin: 0;
    text-align: center;
    transform: translate(0%, 0%);
}

.text {
  color: #fff;
  text-transform: uppercase;
  font-size: 90px;
  letter-spacing: 14px;
}

.text::before, .text::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 99.84%;
  height: 99.84%;
  z-index: -1;
}

.text::before {
  color: blue;
  animation: glitch-effect 3s infinite;
}

.text::after {
  color: red;
  animation: glitch-effect 2s infinite;
}

@keyframes glitch-effect {
  0% {
    left: -2px;
    top: -2px;
  }
  25% {
    left: 2px;
    top: 0px;
  }
  50% {
    left: -1px;
    top: 2px;
  }
  75% {
    left: 1px;
    top: -1px;
  }
  100% {
    left: 0px;
    top: -2px;
  }
}

.bn39 {
    background-image: linear-gradient(135deg, #008aff, #86d472);
    border-radius: 6px;
    box-sizing: border-box;
    color: #ffffff;
    display: block;
    height: 50px;
    font-size: 1.4em;
    font-weight: 600;
    padding: 4px;
    position: relative;
    text-decoration: none;
    width: 7em;
    z-index: 2;
    margin-right: 10px;
}

.bn39:hover {
  color: #fff;
}

.bn39 .bn39span {
  align-items: center;
  background: #0e0e10;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  height: 100%;
  transition: background 0.5s ease;
  width: 100%;
}

.bn39:hover .bn39span {
  background: transparent;
}


.bg-video{
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
}