.App {
  text-align: center;
}

.bg-video{
  position: fixed;
  width: 100%;
  left: 50%;
  top: 50%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.heading{
  color: aliceblue;
  font-size: 150px;
  margin-top: 25%;
}

.jumbo{
  margin-top: 25%;
  background-size: cover;
  width: 100%;
  position: relative;
  background-color: papayawhip;
}

.jumbotron .sec-head{
  font-size: 50px;
}